@charset "UTF-8";

header, footer{
	width: 100%;
	margin: 0;
	padding: 0;
}

footer{
	clear: both;
	padding:0;
	margin:0; 
}

header{
	margin-bottom: 20px;
	padding: 20px;
}

header, nav, footer, h1, h2, h3 {
  font-family: Arial, Geneva, sans-serif;
}

section {
	width: 60%;
	float: left;
	margin: 0 0 20px 0;
}

aside {
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
}

#search_mini_form{
	height: 20px;
	width: 50px;
}

/*--- BODY ---*/
body {
  	padding: 0px;
	margin: 0px;
	font-family: Arial, Geneva, sans-serif;
	line-height: 1.2em;
	font-size: 1em;
	background-color: #D6D6D6;
}

h1{
	margin-right: auto;
	margin-left: auto;
}

#page{
	max-width: 100%;
	margin: auto;
}

/******INIZIO BANNER *******/

#banner{
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}

#banner img{
	position: absolute;
	top: 0;
	left : 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#banner img.active{
	opacity: 1;
}
/***********FINE BANNER************/

/*---- INIZIO FORM ----*/

h2.form-header{
	text-align: center;
	color:  #252525;
}
.form-text{
	text-align: center;
}

form{
	border: 5px solid #252525;
	display: table;
	background-color: #F1797A;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	
}

div.form-tableRow {
	display: table-row;
	text-align: left;
}

div.form-tableRow input {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}

form.pulsante{
	margin: 0 auto;
}

form textarea {
	width: 400px;
	height: 250px;
}

div.tableRow {
	display: table-row;
}

div.tableRow>input, div.tableRow>label{
	display: table-cell;
	padding: 5px;
	vertical-align: top;
	margin: 5px 5px;
}

div.tableRow>label:first-child {
	text-align: left;
}

div#register-contatiner{
	margin: 0 auto;
}
/*---- FINE FORM ----*/
aside{
	border: 3px solid #19204E;
	display: block;
	background-color: #F1797A;
	float: right;
	margin: 0 0 20px 0;
	padding: 0px;
}

#InfCustomerService{
	display: block;
	text-align: center;
}

/*---- BOTTONI ----*/
.pulsante {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #F1797A;
	margin: 0 auto;
}

.pulsante:hover{
	background: #AAAEAC;
}

.carrello-button{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #F1797A;
	margin: 0 auto;
}

.carrello-button:hover{
	background: #AAAEAC;
}

.wishlist-button{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #A50D36;
	margin: 0 auto;
}

.wishlist-button:hover{
	background: #AAAEAC;
}

/*************ELENCO PRODOTTI*******************/
div#product-field{
	display: block;
	border-style : groove;
	border-color: #BF9680;
	padding: 10px;
    width: 250px;
}

@media screen and (max-width: 1550px){
	
}