@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Geneva, sans-serif;
}

p.information, ul.information{
	padding: 20px;
	width: 60%;
}

header, footer{
	width: 100%;
	margin: 0;
	padding: 0;
}

footer{
	clear: both;
	padding:0;
	margin:0; 
}

header{
	margin-bottom: 20px;
	padding: 20px;
}

#page{
	padding: 0px;
	max-width: 1550px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section {
	width: 60%;
	float: left;
	margin: 0 0 20px 0;
}

aside {
	width: 200px;
	background-color: #f2f2f2;
	padding: 20px;

  position: absolute;
	top: 50;
  right: 0;
	
}

/*--- BODY ---*/
body {
  	padding: 0px;
	margin: auto;
	font-family: Arial, Geneva, sans-serif;
	line-height: 1.2em;
	font-size: 1em;
	background-color: #D6D6D6;
}

h1{
	margin-right: auto;
	margin-left: auto;
}


#searchBar_field{
	width: 30%;
	margin: 0 auto;
	padding-left: 10px;
	overflow-y: scroll;
}

#searchBar_field form{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#searchBar_field form input{
	border: none;
	outline: none;
	box-shadow: none;
	width: 100%;
	font-size: 16px;
	font-weight: 400px;
	padding: 8px 10px;
}

#searchBar_field form label{
	padding-right: 5px;
}

.suggests {
	cursor: pointer;
	display: flex;
	align-items: center;
}

/******INIZIO BANNER *******/
#banner{
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}

#banner img{
	position: absolute;
	top: 0;
	left : 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#banner img.active{
	opacity: 1;
}
/***********FINE BANNER************/

/*---- INIZIO FORM ----*/

h2.form-header{
	text-align: center;
	color:  #252525;
}
.form-text{
	text-align: center;
}

form.richieste{
	border: 5px solid #252525;
	display: table;
	background-color: #F1797A;
	width: 80%px;
	
	margin: 0 auto;
	
}

div.form-tableRow {
	display: table-row;
	text-align: left;
}

div.form-tableRow input {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}

form.pulsante{
	margin: 0 auto;
}

input[type=text]:focus input[type=email]{
	background-color: #D6D6D6;
}

form textarea {
	width: 400px;
	height: 250px;
}

div.tableRow {
	display: table-row;
}

div.tableRow>input, div.tableRow>label{
	display: table-cell;
	padding: 5px;
	vertical-align: top;
	margin: 5px 5px;
}

div.tableRow>label:first-child {
	text-align: left;
}

div#register-contatiner{
	margin: 0 auto;
}
/*---- FINE FORM ----*/

aside{
	border: 3px solid #19204E;
	display: block;
	background-color: #F1797A;
	float: right;
	margin: 0 0 20px 0;
	padding: 0px;
}

aside#cart{
	float: right;
}

#InfCustomerService{
	display: block;
	text-align: center;
}

/*---- BOTTONI ----*/
.pulsante {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #F1797A;
	margin: 0 auto;
	width: 165px;
	height:40px;
}

.pulsante:hover{
	background: #AAAEAC;
}

.carrello-button{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #F1797A;
	margin: 0 auto;
	width: 165px;
	height:40px;
}

.carrello-button:hover{
	background: #AAAEAC;
}

.wishlist-button{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #A50D36;
	margin: 0 auto;
	width: 165px;
	height:40px;
}

.wishlist-button:hover{
	background: #AAAEAC;
}

.details-button{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-style: bold;
	color: #fff;
	padding: 10px 20px;
	border: solid 1px #252525;
	background: #BF9680;
	width: 165px;
	height:40px;
	margin: 0 auto;
}

.details-button:hover{
	background: #AAAEAC;
}

/*************ELENCO PRODOTTI*******************/
div#product-field{
	display: block;
	border-style : groove;
	border-color: #BF9680;
	padding: 10px;
    width: 250px;
}

@media screen and (max-width: 1250px){
	#banner{
		height: 400px;
	}
	
}

@media screen and (max-width: 1030px){
	aside{
		position:static;
		width: 100%;
	}
	nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 20px 5px;
  }
}

@media screen and (max-width: 600px){
	header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 20px;
}

nav {
	position: sticky;
  margin-top: 20px;
  margin-right: 50px;
}
nav ul{
	flex-direction:column;
	align-items: center;
}
nav ul li{
	display: table;
}

form#tableRow, form input[type=submit]{
	width: 100%;
    margin-top: 0;
}

}